<div class="container-form">
  <h1 class="h1-form">Create a new Task</h1>
  <div class = "card">

    <form class="form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <label for="name"> Name:
        <input formControlName="name" class="input-text" id="name" type="text" placeholder="Task Name"/>
      </label>
      <div class="validation-message" *ngIf="taskForm.get('name')?.hasError('required') && taskForm.get('name')?.touched">
        Name is required.
      </div>
      <div class="validation-message" *ngIf="taskForm.get('name')?.hasError('minlength') && taskForm.get('name')?.touched">
        Name must be at least 3 characters long.
      </div>
      <div class="validation-message" *ngIf="taskForm.get('name')?.hasError('maxlength') && taskForm.get('name')?.touched">
        Name cannot be longer than 20 characters.
      </div>
      <label for="description">Short description:
        <input formControlName="description" class="input-text" id="description" type="text" placeholder="Description" >
      </label>
      <div class="validation-message" *ngIf="taskForm.get('description')?.hasError('required') && taskForm.get('name')?.touched">
        Name is required.
      </div>
      <div class="validation-message" *ngIf="taskForm.get('description')?.hasError('minlength') && taskForm.get('name')?.touched">
        Name must be at least 3 characters long.
      </div>
      <div class="validation-message" *ngIf="taskForm.get('description')?.hasError('maxlength') && taskForm.get('name')?.touched">
        Name cannot be longer than 20 characters.
      </div>
      <label for = "category">Choose a category :
        <select id="category" formControlName="category">
               <option  *ngFor="let category of categories" [ngValue]="category"
          >{{ category.name }}
          </option>
        </select>
      </label>

      <div class="buttons-form">
        <button class = "button-form ">Cancel</button>
        <button class="button-form" type="submit" [disabled]="taskForm.invalid">Create</button>
      </div>
    </form>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

  </div>




</div>
