<div class="container">
  <h1>Create a new Task</h1>
  <div class = "card">

    <div class="form">
      <label for="name"> Name:
        <input id="name" type="text" placeholder="Task Name"/>
      </label>
      <label for="description">Short description:
        <input id="description" type="text" placeholder="Description" >
      </label>
      <label for = "category">Choose a category :
        <select id="category">
          <option value="none">None</option>
        </select>
      </label>
  </div>
    <div class="buttons">
      <button class = "cancel-btn ">Cancel</button>
      <button class="create-btn">Create</button>

    </div>

  </div>




</div>
