<div class="container-form">
  <h1 class="h1-form">{{ title }}</h1>
  <div class = "card">

    <form  [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <label for="name"> Name:
        <input formControlName="name" class="input-text" id="name" type="text" placeholder="Category Name"/>
      </label>
      <div class="validation-message" *ngIf="categoryForm.get('name')?.hasError('required') && categoryForm.get('name')?.touched">
        Name is required.
      </div>
      <div class="validation-message" *ngIf="categoryForm.get('name')?.hasError('minlength') && categoryForm.get('name')?.touched">
        Name must be at least 3 characters long.
      </div>
      <div class="validation-message" *ngIf="categoryForm.get('name')?.hasError('maxlength') && categoryForm.get('name')?.touched">
        Name cannot be longer than 20 characters.
      </div>
      <label for = "color">Choose a color :
        <div class="color">
          <input formControlName="color" class ="input-color" id="color" type="color"/>
        </div>
      </label>

      <hr>

    <div class="buttons-form">
      <button class="button-form" [routerLink]="'/list-categories'">Cancel</button>
      <button class="button-form" type="submit" [disabled]="categoryForm.invalid" >Save</button>
    </div>
  </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}

    </div>
  </div>
</div>





