<div class="container">
  <h1 class="h1-form">My Tasks</h1>
  <div class = "main">
    <div *ngFor = "let status of statuses" class="task-column" >
      <h2> {{ status.name }}</h2>

      <ul>
          <div *ngFor="let task of tasksByStatus[status.id]" class="task">

            <div>
              <div class="task-identifier">
                <h3>{{ task.id }}</h3>
                <span>{{ task.name }}</span>
              </div>
              <div class="task-content">
                <span class="category"  [style.color]="task.categoryColor" >{{ task.categoryName }}</span>
                <span>{{ task.description }}</span>
                </div>
              </div>

              <div class="buttons-task">
                <button class="edit-btn">
                  <span class="material-icons">edit</span>
                </button>
                <button class="delete-btn">
                  <span class="material-icons">delete</span>
                </button>
              </div>

            </div>



        </ul>
      </div>
    </div>
  </div>
