
  <div class="container">
    <h1 class="h1-form">My categories</h1>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>

        <td>
          <div class="color-table" [style.background-color]="category.color"></div>
        </td>
        <td>
          <div class="buttons-actions">
            <button class="btn-edit" [routerLink]="['/update-category', category.id]" >Edit</button>
            <button class="btn-delete" (click)="deleteCategory( category.id )">Delete </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


