
h1{
  padding-top: 20px;
  text-align: center;
}

table {
  margin: 0 auto;
  border: 2px solid #1f2937;
  width: 100%;
  max-width: 900px;
  overflow-x: auto;
  display: block;
  background-color: white;
  border-radius: 10px;

}

thead {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 15px;
  font-size: 18px;

}

thead > tr {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}


tbody {
  display: flex;
  flex-direction: column;
}

tbody > tr {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #1f2937;
}

tbody > tr > td {
  flex: 1 1 33%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.color-table {
  height: 40px;
  width: 60px;
  border: 2px solid #1f2937;
  margin: 0 auto;
}


.buttons-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}


button {
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}


